@font-face {
font-family: "TT Lakes";
src: url("./assets/TTLakes/TTLakes-Regular.woff") format("woff"),
url("./assets/TTLakes/TTLakes-Bold.woff") format("woff");
          
font-weight: normal;
font-style: normal;
}
    
@font-face {
font-family: "TT Lakes Bold";
src: url("./assets/TTLakes/TTLakes-Bold.woff") format("woff");
          
font-weight: normal;
font-style: normal;
}
    
html, h1 {
box-sizing: border-box;
margin: 0;
padding: 0;
}
    
*, *::before, *::after {
box-sizing: inherit;
}
    
body {
margin: 0;  
font-family: "TT Lakes"; 
color: #1B1C21;
}

aside {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 320px;
height: 100vh;
padding: 24px;
box-shadow: 10px 10px 37px -6px;
}

.header{
height: 50px;
}
    
.header__nav {
display: flex; 
width: 100%;
    align-items: center;
}

.header__left--menu {
display: flex;
width: 200px;
align-items: center;
}

.header__right--menu{
display: flex;
align-items: center;
}

button {
border: none;
outline: none;
border-radius: 50%;
cursor: pointer;
}

button:hover {
filter: opacity(80%);
transform: scale(1.1);
}

.header__item {
width: 40px;
height: 40px;
}
    
.left_close{
background-image: url(./assets/icons/burger.svg);
margin-right: 17px;
}

.header__logo {
display: flex;
}

.logo {
height: 50px;
width: 96px;
}

.search{

background-image: url(./assets/icons/search.svg);
}

.main{
width: 226px;
margin-left: -24px;
}

button.header__item.search{
margin-left: 70px;
}

.highlight{
margin-bottom: -71px;
}

a {
text-decoration: none;
font-family: 'TT Lakes';
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #1B1C21;
font-weight: bold;
}

.main__menu {
list-style: none;
padding-left: 24px;
}

.main__item{  
padding-top: 21px;
}

.link {
color: #7E7E82;
}

.footer__info {
display: flex;
/* margin-top: 250px; */
}

.footer__item {
height: 40px;
width: 40px;
} 

.footer__item--call {
margin-right: 17px;
background-image: url(./assets/icons/call.svg);
}
    
.footer__item--profile {
margin-right: 17px;
background-image: url(./assets/icons/profile.svg);
}
    
.footer__item--chat {
margin-right: 17px;
background-image: url(./assets/icons/chat.svg);
}

.mail-text{
font-weight: bold;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
}

.phone-number{
font-size: 24px;
line-height: 32px;
font-weight: bold;
font-family: "TT Lakes Bold";
}

.footer__languages{
margin-top: 30px;
}

.footer__changer{
display: flex;
list-style: none;
margin-left: -40px;
}

.footer__select{
padding-right: 7px;
}

.languages-select {
color: #7E7E82;
}

.main{
    position: relative;
}

.main li:first-child::before{
content: '';
display: inline-block;
width: 4px;
height: 40px;
background: #41F6D7;
margin-right: 16px;
position: absolute;
left: 0;
border-radius: 0 5px 5px 0;
top: 10px;;
}

.footer a {
display: block;
margin-top: 16px;
}